@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Roboto&display=swap');


* {
  box-sizing: border-box;

}

body {
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
}

